<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story Characters</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <style>

  </style>
</head>

<body>

  <div id="app">

    <nav class="navbar navbar-expand-sm  ">
      <!-- Brand/logo -->
      <!-- <a class="navbar-brand" href="#">
        <img src="char.png" alt="logo" style="width:40px;">
      </a> -->

      <!-- Links -->
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" v-for="role of roles">
            <span class="label" @click="displayRole=role.name">{{role.name}}</span>
          </a>
        </div>
      </div>
    </nav>

    <div class="charFocus" v-for="role of roles" v-show="displayRole===role.name">
      <img :src="role.imgSrc" :alt="role.name">

      <span class="bigLabel" id="tooltip">{{role.name || 'loading...'}}
        <span class="tooltiptext">{{role.clue1}}
          <hr />{{role.clue2}}</span>
      </span>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        displayRole: '',
        displayClues: false,
        cookie: { name: 'name', value: 'value' },

        roles: [
          {
            name: 'Customer',
            clue1: 'female',
            clue2: 'high pitch',
            imgSrc: 'customer.png'
          },
          {
            name: 'Tech Lead',
            clue1: 'gruff',
            clue2: 'no nonsense',
            imgSrc: 'techLead.png'
          },
          {
            name: 'Mentor',
            clue1: 'fatherly',
            clue2: 'loving',
            imgSrc: 'mentor.png'
          },
          {
            name: 'Narrator',
            clue1: 'nuetral',
            clue2: 'uninvolved',
            imgSrc: 'narrator.png'
          },
          {
            name: 'Teacher',
            clue1: 'crazy',
            clue2: 'the full wagstaff',
            imgSrc: 'teacher.png'
          }
        ]

      },
      // beforeCreated: function () {
      //   console.log('beforeCreated', this)
      // },
      // created() {
      //   console.log('created')
      // },
      watch: {

      },
      methods: {
        setCookies: function (name, value) {
          document.cookie = `${name}=${value};`

        },
        getCookies: function (name) {
          let cookiesArr = document.cookie.split('; ')
          for (let cookie of cookiesArr) {
            cookie = cookie.split('=')
            let value = cookie[1]
            if (cookie[0] === name) {
              return value
            }

          }


        }

      }
    })
  </script>

</body>

</html>